.news {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  background-color: var(--news_background);
  box-shadow: var(--shaddow_news);
  transition: all 0.3s;
}

.autorName {
  font-weight: bold;
  color: #2929c0;
}

.link {
  color: blue;
}

.link:hover {
  color: #5656ff;
}

.loading {
  font-size: 26px;
  margin-top: 20px;
}
