* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --comment_background: #ebeaea;
  --news_background: #ebeaea;
  --news_hover_background: #c2c2c2;
  --button_background: #ebeaea;
  --button_hover_background: #6e6e6e;
  --shaddow_news: 7px 6px 3px #cecdcd;
  --shaddow_hover_news: 9px 8px 3px #cecdcd;
  --shaddow_color: 5px 4px 3px #cecdcd;
  --content_width: 1600px;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--news_background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--news_hover_background);
  border-radius: 5px;
  border: 1px solid black;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
